* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    background-color: #1c0033;
    color: #fff;
    padding: 2rem;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .profile-icon {
    background-color: white;
    cursor: pointer;
    color: #1c0033;
    border-radius: 50%;
    padding: 0.6rem;
    font-size: 1.2rem;
  }
  
  .search-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .search-bar input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
  }
  
  .filter-btn {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #eee;
    color: #444;
    font-weight: 500;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f5;
    border-radius: 1rem;
    overflow: hidden;
    color: #333;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  thead {
    background-color: #eaeaea;
  }
  
  .options {
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
  }

  .simulacao-btn {
    background-color: #00a000;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  a{
    width: 100%;
  }

  .simulacao-btn:hover {
    background-color: #008000;
  }
  