body {
  background-image: url(/ProjetoDevWeb/Resources/Fundo04.png);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff914d;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 900;
}

.centro {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.frase {
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.5;
}

.categorias {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.categoria {
  flex: 1 1 200px;
  margin: 20px;
}

.categoria h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

.categoria p {
  font-size: 22px;
  color: #ff914d;
  font-weight: bold;
}

button {
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6742b;
}
