  body {
    background-image: url(/ProjetoDevWeb/Resources/Fundo04.png);
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-size: cover;
  }

  h1 {
    color: #ff914d;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 900;
  }

  .centro{
    margin-top: 150px;
    width: 100%;
    height: 100%;
  }
  .frase{
    margin: 15px;
    margin-bottom: 50px;
    font: 30px;
  }
  .tabela{
    margin: auto;
    padding: 15px;

  }
  th{
    color: #ff914d;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 46px;
  }
  td{
    font-size: 40px;
    padding: 5px 20px;
  }
  tr{
    text-align: start;
    padding: 50px;
    color: #ff914d;
  }
  .porc{
    color: aliceblue;
  }


